/*
   ===========
   ===========

    1# Genereal Style
    2# Home Page
    3# Website Settings
    4# Payment Methods Settings

   ===========
   ===========
*/
/* ========= 1# General Style ========= */

/* -- General Style -- */
body {
  margin: 0;
  padding: 0;
  direction: rtl;
  text-align: right;
  font-size: 13px;
  font-family: system-ui;
  --main-menu-bg: #1e2833;
  --sub-menu-bg: #364352;
  --green: #28a745;
  --green-2: #24963e;
  --blue: #17a2b8;
  --blue-2: #1592a5;
  --red: #dc3545;
  --red-2: #c6303e;
  --gold: #ffc107;
  --gold-2: #e5ad06;
}
.page-body {
  padding: 20px 120px 20px 20px;
}

/*--- overlay ---*/
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -5;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.overlay.active {
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999991;
  opacity: 1;
}
.lightboxOverlay {
  z-index: 9999993;
}
.lightbox {
  z-index: 9999994;
}
/*--- ./overlay ---*/

/*--- photo-gallery ---*/
.photo-gallery {
  position: fixed;
  top: 20px;
  right: 5%;
  left: 5%;
  z-index: -5;
  opacity: 0;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}
.photo-gallery.active {
  z-index: 9999992;
  opacity: 1;
}
.photo-gallery .photo-gallery-header {
  padding: 0px;
  background-color: var(--sub-menu-bg);
}
.photo-gallery .photo-gallery-header h3 {
  font-weight: 600;
  padding: 15px;
  color: white !important;
}
.photo-gallery .photo-gallery-containt {
  padding: 15px 0px;
  background-color: white;
  max-height: calc(72vh);
  overflow: auto;
}
.photo-gallery .photo-gallery-containt::-webkit-scrollbar {
  width: 8px;
}
.photo-gallery .photo-gallery-containt::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #eee;
}
.photo-gallery .photo-gallery-containt::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 10px;
}
.photo-gallery .photo-gallery-containt::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}
.photo-gallery .photo-gallery-containt .img-containt {
  position: relative;
  width: 100%;
  border: 1px solid rgba(54, 67, 82, 0.2);
  margin-bottom: 15px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.photo-gallery .photo-gallery-containt .img-containt:hover {
  box-shadow: 0px 0px 5px var(--sub-menu-bg);
}

.photo-gallery .photo-gallery-containt .img-containt img {
  height: 158px;
}

.photo-gallery .photo-gallery-containt .img-containt.select {
  box-shadow: 0px 0px 5px var(--sub-menu-bg);
}

.photo-gallery .photo-gallery-containt .img-containt .delete-img-btn {
  position: absolute;
  width: 25px;
  height: 25px;
  top: -30px;
  left: 6px;
  background: #d00;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
.photo-gallery .photo-gallery-containt .img-containt:hover .delete-img-btn {
  top: 36px;
  left: 6px;
}
.photo-gallery .photo-gallery-containt .img-containt .view-img-btn {
  position: absolute;
  width: 25px;
  height: 25px;
  top: -30px;
  left: 6px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.photo-gallery .photo-gallery-containt .img-containt:hover .view-img-btn {
  top: 8px;
  left: 6px;
}
.photo-gallery .photo-gallery-footer {
  position: relative;
  background-color: white;
  padding: 15px;
  border-top: 1px dashed var(--sub-menu-bg);
}

.photo-gallery .photo-gallery-footer span {
  font-size: 16px;
  color: white;
  padding: 2px 7px;
  background-color: var(--sub-menu-bg);
  cursor: pointer;
  margin-left: 15px;
  user-select: none;
  transition: all 0.3s ease-in-out;
}
.photo-gallery .photo-gallery-footer span.disactive {
  cursor: not-allowed;
}

.photo-gallery .photo-gallery-footer span:hover {
  box-shadow: 0px 0px 5px var(--sub-menu-bg);
}

.photo-gallery .photo-gallery-containt .upload-file {
  position: relative;
  overflow: hidden;
}

.photo-gallery .photo-gallery-containt .upload-file img {
  height: 100%;
  object-fit: cover;
}

.photo-gallery .photo-gallery-containt .upload-file ul {
  position: absolute;
  z-index: 1;
  top: -30px;
  left: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.photo-gallery .photo-gallery-containt .upload-file:hover ul {
  top: 10px;
}

.photo-gallery .photo-gallery-containt .upload-file ul li {
  display: inline-block;
  margin-right: 5px;
}

.photo-gallery .photo-gallery-containt .upload-file ul .add-img-btn {
  position: relative;
  overflow: hidden;
  width: 25px;
  height: 25px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 50%;
}

.photo-gallery .photo-gallery-containt .upload-file ul .add-img-btn input {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1000%;
  height: 100%;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.photo-gallery .photo-gallery-containt .upload-file ul .delete-img-btn {
  width: 25px;
  height: 25px;
  background: #d00;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 50%;
}
/*--- ./photo-gallery ---*/

body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #eee;
}
body::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
a,
a:hover,
a:focus {
  text-decoration: none;
}
p {
  margin: 0;
}
.border-down {
  width: 100%;
  margin: 30px 0;
  border-top: 1px dashed #e1e1e1;
}
input,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.tablecheckbox {
  -webkit-appearance: auto;
  -moz-appearance: auto;
  -ms-appearance: auto;
  -o-appearance: auto;
  appearance: auto;
}
/* -- ./General Style -- */

/* -- Side Menu -- */
.side-menu {
  position: fixed;
  z-index: 999999;
  width: 100px;
  top: 0;
  bottom: 0;
  right: 0;
  background: var(--main-menu-bg);
  overflow-y: scroll;
}
.side-menu::-webkit-scrollbar {
  width: 0;
}
.side-menu .logo img {
  width: 60px;
  margin: 15px auto;
  display: block;
  transform: scale(1);
  transition: all 0.5s ease-in-out;
}
.side-menu .logo:hover img {
  transform: scale(0.9);
}
.side-menu .main-menu {
  padding-bottom: 20px;
}
.side-menu .main-menu li a {
  cursor: pointer;
  display: block;
  text-align: center;
  padding: 10px 5px;
  color: #aaa;
  margin-bottom: 0.5px;
  transition: all 0.5s ease-in-out;
}
.side-menu .main-menu li a:hover,
.side-menu .main-menu li.active a {
  background: var(--sub-menu-bg);
  color: #fcfcfc;
}
.side-menu .main-menu li span {
  display: block;
}
.side-menu .main-menu li svg {
  font-size: 25px;
}
.sub-main-menu {
  position: fixed;
  z-index: 999998;
  top: 0;
  bottom: 0;
  right: -100%;
  background: var(--sub-menu-bg);
  min-width: 270px;
  max-width: calc(100% - 170px);
  padding: 20px 20px 20px 40px;
  height: 100vh;
  overflow-y: scroll;
  transition: all 0.5s ease-in-out;
}
.sub-main-menu::-webkit-scrollbar {
  width: 8px;
}
.sub-main-menu::-webkit-scrollbar-track {
  border-radius: 10px;
  background: transparent;
}
.sub-main-menu::-webkit-scrollbar-thumb {
  background: var(--main-menu-bg);
  border-radius: 10px;
  cursor: pointer;
}
.sub-main-menu.open {
  right: 100px;
}
.sub-main-menu h3 {
  color: #fff;
  font-size: 22px;
  margin: 10px 0 30px;
}
.sub-main-menu .close-btn {
  position: absolute;
  z-index: 5;
  left: 20px;
  top: 10px;
  font-size: 30px;
  color: #aaa;
  cursor: pointer;
}
.sub-main-menu .list-title {
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
  color: #717a84;
  padding: 8px 12px;
  margin-bottom: 10px;
}
.sub-main-menu .list-title:not(:first-of-type) {
  margin-top: 40px;
}
.sub-main-menu li {
  margin-bottom: 5px;
}
.sub-main-menu li a {
  color: #fff;
  padding: 8px 12px;
  display: block;
  white-space: nowrap;
  font-size: 14px;
}
.sub-main-menu li a.done {
  background: #080;
}
.sub-main-menu li a:hover {
  background: var(--main-menu-bg);
}
/* -- ./Side Menu -- */

/* -- Top Main Menu -- */
.top-main-menu {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e1e1e1;
  text-align: left;
}
.top-main-menu > ul a {
  padding: 8px 10px;
  display: inline-block;
  cursor: pointer;
  color: #000;
}
.top-main-menu > ul svg {
  font-size: 18px;
}
.top-main-menu > ul .sub-menu svg:first-child {
  margin-left: 5px;
}
.top-main-menu > ul .sub-menu .arrow svg {
  font-size: 15px;
  transition: all 0.5s ease-in-out;
}
.top-main-menu > ul .sub-menu.open .arrow svg {
  transform: rotate(180deg);
}
.top-main-menu > ul .sub-menu > a {
  border: 1px solid transparent;
  border-bottom: 0;
  position: relative;
  z-index: 5;
  background: #fff;
}
.top-main-menu > ul .sub-menu.open > a {
  border: 1px solid #007bdb;
  border-bottom: 0;
  box-shadow: 1px -5px 10px rgb(0 0 0 / 10%);
}
.top-main-menu > ul > li {
  display: inline-block;
  margin-right: 10px;
  position: relative;
}
.top-main-menu > ul > li ul {
  position: absolute;
  z-index: 4;
  top: calc(100% - 1px);
  left: 0;
  background: #fff;
  border: 1px solid #007bdb;
  box-shadow: 1px 6px 5px rgb(0 0 0 / 50%);
  text-align: right;
  width: 180px;
  opacity: 0;
  visibility: hidden;
}
.top-main-menu > ul .sub-menu.open ul {
  opacity: 1;
  visibility: visible;
}
.top-main-menu > ul > li ul a {
  padding: 8px 15px;
  font-size: 14px;
  display: block;
  color: #000;
}
/* -- ./Top Main Menu -- */

/* ========= end_of # General Style ========= */

/* ========= 2# Home Page ========= */

/* -- Statistics Blocks -- */
.main-statistics {
  margin: 0;
}
.main-statistics .sub-stat-block {
  position: relative;
  border-radius: 5px;
  background: var(--main-menu-bg);
  color: #fff;
  margin-bottom: 30px;
}
.main-statistics .sub-stat-block > svg {
  font-size: 40px;
  position: absolute;
  left: 10px;
  top: 10px;
  opacity: 0.5;
  transition: all 0.5s ease-in-out;
}
.main-statistics .sub-stat-block:hover > svg {
  opacity: 0.7;
}
.main-statistics .sub-stat-block .info {
  padding: 15px 15px 20px 65px;
}
.main-statistics .sub-stat-block .info .number {
  display: block;
  font-size: 30px;
  font-weight: bold;
}
.main-statistics .sub-stat-block .info .word {
  color: #efefef;
  margin-top: -5px;
  display: block;
  font-size: 15px;
}
.main-statistics .sub-stat-block a {
  display: block;
  width: 100%;
  background: #364352;
  padding: 7px 5px;
  text-align: center;
  color: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.main-statistics .sub-stat-block.green {
  background: var(--green);
}
.main-statistics .sub-stat-block.green a {
  background: var(--green-2);
}
.main-statistics .sub-stat-block.red {
  background: var(--red);
}
.main-statistics .sub-stat-block.red a {
  background: var(--red-2);
}
.main-statistics .sub-stat-block.blue {
  background: var(--blue);
}
.main-statistics .sub-stat-block.blue a {
  background: var(--blue-2);
}
.main-statistics .sub-stat-block.gold {
  background: var(--gold);
}
.main-statistics .sub-stat-block.gold a {
  background: var(--gold-2);
}
.main-section-title {
  margin-bottom: 25px;
  padding: 15px;
  border-right: 10px solid var(--main-menu-bg);
  background: var(--sub-menu-bg);
  color: #fff;
  font-size: 25px;
}
.sub-main-title {
  margin-bottom: 25px;
  font-size: 18px;
  color: #364352;
  font-weight: bold;
}
/* -- ./Statistics Blocks -- */

/* ========= end_of # Home Page ========= */

/* ========= 3# Website Settings ========= */

/* -- On - OFF Button -- */
.yes-no-btn .knobs,
.yes-no-btn .layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.yes-no-btn {
  position: relative;
  width: 74px;
  height: 34px;
  overflow: hidden;
}
.yes-no-btn,
.yes-no-btn .layer {
  border-radius: 100px;
}
.yes-no-btn .checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}
.yes-no-btn .knobs {
  z-index: 2;
}
.yes-no-btn .layer {
  width: 100%;
  background-color: #ebf7fc;
  transition: 0.3s ease all;
  z-index: 1;
}
.yes-no-btn .knobs:before {
  content: "ON";
  position: absolute;
  top: 4px;
  right: 4px;
  width: 25px;
  height: 25px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #03a9f4;
  border-radius: 50%;
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}
.yes-no-btn .checkbox:not(:checked) + .knobs:before {
  content: "OFF";
  right: 42px;
  background-color: #f44336;
}
.yes-no-btn .checkbox:not(:checked) ~ .layer {
  background-color: #fcebeb;
}
.yes-no-btn .knobs,
.yes-no-btn .knobs:before,
.yes-no-btn .layer {
  transition: 0.3s ease all;
}
/* -- ./ON - OFF Button -- */

/* -- Countries List -- */
.select-country-box {
  position: relative;
}
.select-country-box select {
  display: none;
}
.select-country-box .selected-box {
  height: 120px;
  background: #fafafa;
  border: 1px solid #e1e1e1;
  overflow-y: scroll;
  cursor: pointer;
}
.select-country-box .selected-box li {
  margin: 5px;
  background: var(--main-menu-bg);
  padding: 5px 10px 5px 30px;
  color: #fff;
  border-radius: 5px;
  position: relative;
  display: none;
  opacity: 0;
  cursor: text;
  transition: all 0.5s ease-in-out;
}
.select-country-box .selected-box li.show {
  opacity: 1;
  display: inline-block;
}
.select-country-box .selected-box li span {
  position: absolute;
  z-index: 5;
  left: 0;
  top: 0;
  bottom: 0;
  background: var(--sub-menu-bg);
  padding: 0 5px;
  font-size: 18px;
  cursor: pointer;
}
.select-country-box .selected-box::-webkit-scrollbar {
  width: 5px;
}
.select-country-box .selected-box::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #fafafa;
}
.select-country-box .selected-box::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 10px;
}
.select-country-box .selected-box::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}
.select-country {
  position: absolute;
  z-index: 99;
  top: 150px;
  right: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  border: 1px solid #e1e1e1;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 15px 30px;
  max-height: 350px;
  overflow-y: scroll;
  transition: all 0.5s ease-in-out;
}
.select-country.open {
  top: 135px;
  opacity: 1;
  visibility: visible;
}
.select-country::-webkit-scrollbar {
  width: 5px;
}
.select-country::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #fff;
}
.select-country::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 10px;
}
.select-country::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}
.select-country .close-btn {
  position: absolute;
  z-index: 5;
  left: 10px;
  top: 0;
  font-size: 30px;
  font-weight: bold;
  color: #777;
  cursor: pointer;
}
.select-country .search {
  padding: 30px 10px 10px;
  display: flex;
}
.select-country .search .all-btn {
  flex: 0 0 120px;
  padding: 10px 22px 10px 10px;
  position: relative;
  cursor: pointer;
}
.select-country .search .all-btn.open {
  cursor: not-allowed;
  opacity: 0.7;
}
.select-country .search .all-btn:after {
  position: absolute;
  z-index: 2;
  top: 12px;
  right: 0;
  height: 15px;
  width: 15px;
  border: 1px solid #e1e1e1;
  border-radius: 2px;
  content: "";
  transition: all 0.5s ease-in-out;
}
.select-country .search .all-btn.open:after {
  border: 1px solid var(--main-menu-bg);
}
.select-country .search .all-btn:before {
  position: absolute;
  z-index: 5;
  content: "";
  top: 15px;
  right: 3px;
  width: 9px;
  height: 9px;
  border-radius: 5px;
  opacity: 0;
  background: var(--main-menu-bg);
  transition: all 0.5s ease-in-out;
}
.select-country .search .all-btn.open:before {
  opacity: 1;
}
.select-country .search input {
  padding: 10px 15px;
  border: 1px solid #e1e1e1;
  outline: none;
  background: #f8f8f8;
  flex: 0 0 calc(100% - 120px);
}
.countries-list {
  display: flex;
  flex-wrap: wrap;
}
.countries-list li {
  flex: 0 0 calc(20% - 20px);
  margin: 10px;
  font-size: 12px;
  border: 1px solid #e1e1e1;
  padding: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  transition: all 0.5s ease-in-out;
}
.countries-list li.no-results {
  flex: 0 0 calc(100% - 20px);
  border: 0;
  margin: 10px;
  padding: 0;
  display: none;
}
.countries-list li.no-results > div {
  margin-bottom: 0;
  font-size: 14px;
}
.countries-list li img {
  width: 35px;
  height: 25px;
  object-fit: cover;
  margin-left: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.countries-list li.checked {
  background: #deeed8;
}
/* -- ./Countries List -- */

/* -- Setting Box -- */
.setting-box {
  margin-bottom: 30px;
  padding: 30px 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.setting-box p {
  margin-bottom: 15px;
}
.setting-box .yes-no-btn {
  margin: 0 auto;
}
/* -- ./Setting Box -- */

/* -- Support Form -- */
.support-form {
  margin-top: 40px;
  margin-bottom: 40px;
}
.support-form label {
  display: block;
  font-weight: bold;
  color: var(--sub-menu-bg);
}
.support-form label svg {
  font-size: 16px;
  margin-left: 5px;
}
.support-form input {
  display: block;
  width: 100%;
  margin: 5px 0 15px;
  padding: 10px 15px;
  border: 1px solid #e1e1e1;
  background: #fafafa;
  border-radius: 5px;
  outline: none;
  transition: all 0.5s ease-in-out;
}
.support-form input:focus {
  border-color: var(--main-menu-bg);
}
.custom-save-btn {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  margin-top: 20px;
  padding: 5px 15px;
  border-radius: 5px;
  background: var(--main-menu-bg);
  color: #fff;
  display: inline-block;
  outline: none;
  border: 2px solid var(--main-menu-bg);
  transition: all 0.5s ease-in-out;
}
.custom-save-btn svg {
  margin-left: 5px;
  font-size: 16px;
}
.custom-save-btn:hover {
  background: #fff;
  color: var(--main-menu-bg);
}
.custom-save-btn.not-select {
  display: none;
}
/* -- ./Support Form -- */

/* ========= end_of # Website Settings ========= */

/* ========= 4# Payment Methods Settings ========= */

/* -- Payment Settings -- */
.payment-methods .payment-box {
  margin-bottom: 15px;
  padding: 0 10px;
}
.payment-methods .payment-box .sub-main-title {
  position: relative;
  top: 5px;
  font-size: 14px;
  line-height: 1.5;
}
.payment-methods .payment-box h6 {
  font-size: 13px;
  font-weight: bold;
  color: #777;
}
.payment-methods .payment-box .select-country-box {
  display: none;
}
.payment-methods .payment-box .select-country.open {
  top: 155px;
}
/* -- ./Payment Settings -- */

/* -- Commission Table -- */
.commission-table table {
  text-align: center;
  border: 1px solid #e1e1e1;
}
.commission-table table th {
  font-size: 15px;
  background: var(--main-menu-bg);
  color: #fff;
}
.commission-table table td {
  font-size: 15px;
}
.commission-table .percent-box {
  position: relative;
  width: 100px;
  margin: 0 auto;
}
.commission-table .percent-box.disabled,
.commission-table .percent-box.disabled input {
  cursor: not-allowed;
}
.commission-table .percent-box input {
  display: block;
  width: 100%;
  padding: 5px 5px 5px 15px;
  border: 1px solid #e1e1e1;
  outline: none;
  text-align: center;
}
.commission-table .percent-box input:focus {
  border-color: var(--main-menu-bg);
}
.commission-table .percent-box span {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: #eee;
  color: #444;
  padding: 5px 10px;
  border: 1px solid #e1e1e1;
}
.commission-table .percent-box input:focus + span {
  background: var(--main-menu-bg);
  color: #fff;
  border: 1px solid var(--main-menu-bg);
}
.commission-table .yes-no-btn {
  margin: 0 auto;
}
/* -- ./Commission Table -- */

/* ========= end_of # Payment Method Settings ========= */

/* ========= start_of # Add Product ========= */

/* -- Text Editor -- */
.tox .tox-menubar,
.tox .tox-statusbar {
  background: var(--main-menu-bg) !important;
}
.tox .tox-statusbar__resize-handle {
  background: #fff !important;
}
.tox .tox-statusbar__path-item {
  color: #fff !important;
  margin-right: 10px !important;
}
.tox .tox-mbtn {
  color: #fff !important;
  background: none !important;
}
.tox .tox-mbtn:hover {
  color: #bbb !important;
}
.tox .tox-mbtn__select-label {
  cursor: pointer !important;
}
/* -- ./Text Editor -- */

/* -- Calender -- */

.date-picker {
  width: 100%;
  height: auto;
  background: white;
  position: relative;
  z-index: 88;
  transition: all 0.3s 0s ease-in-out;
}
.date-group.disabled .date-picker:after {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.1);
  z-index: 10;
  content: "";
  cursor: not-allowed;
}
.date-picker .input {
  width: 100%;
  height: 50px;
  font-size: 0;
  cursor: pointer;
}
.date-picker .input .result,
.date-picker .input button {
  display: inline-block;
  vertical-align: top;
}
.date-picker .input .result {
  width: calc(100% - 50px);
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  font-weight: normal;
  padding: 0 10px;
  color: grey;
  box-sizing: border-box;
  border: 1px solid #e1e1e1;
}
.date-picker .input button {
  width: 50px;
  height: 50px;
  background-color: #1592a5;
  color: white;
  line-height: 50px;
  border: 0;
  font-size: 18px;
  padding: 0;
}
.date-picker .input button:hover {
  background-color: #364352;
}
.date-picker .input button:focus {
  outline: 0;
}
.date-picker .calendar {
  position: absolute;
  top: 60px;
  right: 0;
  left: 0;
  width: 100%;
  background: #fff;
  border-radius: 0px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden;
}
.date-picker.open .calendar {
  top: 50px;
  opacity: 1;
  visibility: visible;
}
.date-picker .calendar .close-calender {
  position: absolute;
  z-index: 99;
  right: 15px;
  top: 13px;
  width: 25px;
  height: 25px;
  background: #fff;
  color: #444;
  border-radius: 50%;
  font-size: 23px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.date-picker .calendar .close-calender span {
  position: relative;
  top: -2px;
}
.date-picker .ui-datepicker-inline {
  position: relative;
  width: 100%;
}
.date-picker .ui-datepicker-header {
  height: 100%;
  line-height: 50px;
  background: #364352;
  color: #fff;
  margin-bottom: 10px;
}
.date-picker .ui-datepicker-prev,
.date-picker .ui-datepicker-next {
  width: 20px;
  height: 20px;
  text-indent: 9999px;
  border: 2px solid #fff;
  border-radius: 100%;
  cursor: pointer;
  overflow: hidden;
  margin-top: 12px;
}
.date-picker .ui-datepicker-prev {
  float: left;
  margin-left: 12px;
}
.date-picker .ui-datepicker-prev:after {
  transform: rotate(45deg);
  margin: -44px 5px 0px 8px;
}
.date-picker .ui-datepicker-next {
  float: left;
  margin-left: 12px;
}
.date-picker .ui-datepicker-next:after {
  transform: rotate(-135deg);
  margin: -44px 5px 0px 6px;
}
.date-picker .ui-datepicker-prev:after,
.date-picker .ui-datepicker-next:after {
  content: "";
  position: absolute;
  display: block;
  width: 4px;
  height: 4px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
.date-picker .ui-datepicker-prev:hover,
.date-picker .ui-datepicker-next:hover,
.date-picker .ui-datepicker-prev:hover:after,
.date-picker .ui-datepicker-next:hover:after {
  border-color: #1592a5;
}
.date-picker .ui-datepicker-title {
  text-align: center;
}
.date-picker .ui-datepicker-calendar {
  width: 100%;
  text-align: center;
}
.date-picker .ui-datepicker-calendar thead tr th span {
  display: block;
  width: 100%;
  color: #364352;
  margin-bottom: 5px;
  font-size: 13px;
}
.date-picker .ui-state-default {
  display: block;
  text-decoration: none;
  color: #444;
  line-height: 40px;
  font-size: 12px;
}
.date-picker .ui-state-default:hover {
  background: rgba(0, 0, 0, 0.05);
}
.date-picker .ui-state-highlight {
  color: #1592a5;
}
.date-picker .ui-state-active {
  color: #1592a5;
  background-color: rgba(131, 146, 167, 0.2);
  font-weight: 600;
}
.date-picker .ui-datepicker-unselectable .ui-state-default {
  color: #eee;
  border: 2px solid transparent;
}
.date-picker.open {
  max-height: 400px;
}
.date-picker.open .input button {
  background: #1592a5;
}
.ui-datepicker-calendar th {
  text-align: center;
}
/* -- ./Calender -- */

/* -- Radio & Check Input Style -- */

.radio-box li {
  display: inline-block;
  margin-left: 20px;
  color: #444;
  position: relative;
  padding-bottom: 10px;
}
.radio-box li:hover {
  color: #e5ad06;
}
.radio-box li .check-box {
  position: relative;
  width: 25px;
  height: 20px;
  display: inline-block;
  top: 7px;
}
.radio-box li input {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.radio-box li .check-box img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
}
.radio-box li .check-box img.done {
  display: none;
}
.radio-box li input:checked ~ div img.done {
  display: block;
}
.radio-box li input:checked ~ div img {
  display: none;
}

/* -- ./Radio & Check Input Style -- */
.custom-form {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.custom-form .group {
  margin-bottom: 10px;
}
.custom-form .right-col {
  flex: 0 0 75%;
  padding-left: 15px;
}
.custom-form .left-col {
  flex: 0 0 25%;
}
.custom-form .product-form-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(0px);
  z-index: -1;
  transition: all 0.3s ease-in-out;
}
.custom-form .product-form-overlay.active {
  z-index: 89;
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.2);
}
.custom-form .white-box {
  background: #f2f2f2;
  padding: 15px;
  border: 1px solid #e1e1e1;
  margin-bottom: 20px;
  position: relative;
}
span.product_type {
  position: absolute;
  left: 15px;
  top: 15px;
  color: #d00;
}
.custom-form .white-box h5.inner-title {
  font-size: 18px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px dashed #bfbfbf;
  color: var(--sub-menu-bg);
}
.custom-form .white-box h5.inner-title .yes-no-btn {
  float: left;
  margin-top: -5px;
}
.custom-form .white-box h5.inner-title .yes-no-btn .layer {
  border: 1px solid #aaa;
}
.input-group {
  position: relative;
  padding: 15px 0 5px;
}
.input-group label {
  position: absolute;
  top: 28px;
  right: 15px;
  padding: 3px 0;
  font-weight: bold;
  font-size: 13px;
  color: #999;
  cursor: text;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
label .required {
  margin-right: 5px;
  color: #d00;
}
.input-group input {
  display: block;
  width: 100%;
  padding: 20px 15px 10px;
  border: 1px solid #e1e1e1;
  background: #fff !important;
  outline: none;
}
.input-group input:focus {
  border: 1px solid #00365c6e;
}
.input-group input[type="file"] ~ label,
.input-group input.not-empty ~ label,
.input-group input:focus ~ label {
  top: 15px;
  font-size: 12px;
  font-weight: normal;
}
.input-group input[type="password"] {
  padding-left: 30px;
}
.input-group .symbol {
  position: absolute;
  z-index: 2;
  top: 22px;
  left: 1px;
  bottom: 10px;
  padding: 2px 10px 0;
  background: #fff;
  font-size: 20px;
  color: #364352;
}
.editor-group label {
  display: block;
  width: 100%;
  font-weight: bold;
  color: #999;
}
.add-product-box .product-img-box .col-8 {
  padding-left: 10px;
}
.add-product-box .product-img-box .col-8 + .col-4 {
  padding-right: 0;
}
.add-product-box .product-img-box .col-8 > .row {
  margin: 0 -5px;
}
.add-product-box .product-img-box .group ~ .col-4,
.add-product-box .product-img-box .group {
  margin-bottom: 15px;
  padding: 0 5px;
}
.add-product-box .product-img-box label {
  font-weight: bold;
  margin-bottom: 10px;
}
.add-product-box .product-img-box .upload-file {
  position: relative;
  overflow: hidden;
}
.add-product-box .product-img-box .upload-file img {
  width: 100%;
  height: 175px;
  object-fit: contain;
  background: #fff;
  border: 1px solid #e1e1e1;
}
.add-product-box .product-img-box .upload-file.main img {
  height: 383px;
}
.add-product-box .product-img-box .upload-file ul {
  position: absolute;
  z-index: 1;
  top: -30px;
  left: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.add-product-box .product-img-box .upload-file:hover ul {
  top: 10px;
}
.add-product-box .product-img-box .upload-file ul li {
  display: inline-block;
  margin-right: 5px;
}
.add-product-box .product-img-box .upload-file ul .edit-btn {
  position: relative;
  overflow: hidden;
  width: 25px;
  height: 25px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
}
.add-product-box .product-img-box .upload-file ul .delete-btn {
  width: 25px;
  height: 25px;
  background: #d00;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 50%;
}
.add-product-box .product-img-box p {
  text-align: center;
  font-size: 12px;
  color: #999;
}
.add-product-box .adding-group label {
  font-weight: bold;
  font-size: 13px;
  color: #999;
}
.add-product-box .adding-group input {
  padding: 10px;
  border: 1px solid #e1e1e1;
  background: #fff;
  outline: none;
  width: 250px;
}
.add-product-box .adding-group input:focus {
  border: 1px solid #1592a5;
}
.add-product-box .adding-group .input-box {
  position: relative;
}
.add-product-box .adding-group .add {
  background: #1592a5;
  color: #fff;
  padding: 11px 20px;
  margin-right: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
}
.add-product-box .adding-group .add:hover {
  background: #364352;
}
.add-product-box .adding-group .add span {
  font-weight: bold;
  font-size: 18px;
  margin-left: 5px;
}
.add-product-box .adding-group .add-new-specification {
  float: left;
  padding: 5px 8px;
  margin-right: 0px;
  background: #1592a5;
  color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
}
.add-product-box .adding-group .add-new-specification:hover {
  background: #364352;
}
.add-product-box .adding-group .add-new-specification span {
  font-weight: bold;
  font-size: 18px;
  margin-left: 5px;
}
.add-product-box .adding-group .add-new-price {
  float: left;
  padding: 5px 8px;
  margin-right: 0px;
  background: #1592a5;
  color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
}
.add-product-box .adding-group .add-new-price:hover {
  background: #364352;
}
.add-product-box .adding-group .add-new-price span {
  font-weight: bold;
  font-size: 18px;
  margin-left: 5px;
}
.add-product-box .adding-group table {
  background: #fff;
}
.add-product-box .adding-group table thead tr th {
  font-size: 17px;
  font-weight: 600;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}
.add-product-box .adding-group table thead tr th:first-child {
  width: 100px;
}
.add-product-box .adding-group table thead tr th:last-child {
  width: 100px;
}
.add-product-box .adding-group table tbody tr td {
  position: relative;
}
.add-product-box .adding-group table thead tr th,
.add-product-box .adding-group table tbody tr td {
  text-align: center;
  vertical-align: middle;
  border: 1px solid #d3d3d3;
}
.add-product-box .adding-group table.price-table tbody tr td:first-child {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}

.add-product-box .adding-group table tbody tr td input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  border: none;
  outline: none;
  color: var(--sub-menu-bg);
  font-weight: 600;
  font-size: 14px;
  opacity: 1;
  border-radius: 0px;
  cursor: pointer;
  background-color: transparent;
}
.add-product-box .adding-group table tbody tr td input[type="number"] {
  padding-right: 30px;
}
.add-product-box
  .adding-group
  table.price-table
  tbody
  tr
  td
  input.hidden-input {
  z-index: 5;
  opacity: 0;
}

.add-product-box .adding-group table tbody tr td span {
  position: relative;
  z-index: 4;
  font-weight: 600;
  font-size: 14px;
  color: var(--sub-menu-bg);
}

.add-product-box .adding-group table tbody tr td .list-container {
  position: absolute;
  padding: 0;
  top: 107%;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 6;
  max-height: 155px;
  border: 1px solid #e1e1e1;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
}

.add-product-box .adding-group table tbody tr td .list-container.active {
  opacity: 1;
  visibility: visible;
}

.add-product-box
  .adding-group
  table
  tbody
  tr
  td
  .list-container::-webkit-scrollbar {
  width: 4px;
}
.add-product-box
  .adding-group
  table
  tbody
  tr
  td
  .list-container::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #eee;
}
.add-product-box
  .adding-group
  table
  tbody
  tr
  td
  .list-container::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 10px;
}
.add-product-box
  .adding-group
  table
  tbody
  tr
  td
  .list-container::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}
.add-product-box
.adding-group
  table
  tbody
  tr
  td
  .list-container
  .specifications-list {
    margin-top: 0;
  }
.add-product-box
.adding-group
  table
  tbody
  tr
  td
  .list-container
  .specifications-list
  li {
  list-style: none;
  display: block;
  background-color: transparent;
  color: var(--sub-menu-bg);
  margin: 0;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 0;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
.add-product-box
  .adding-group
  table
  tbody
  tr
  td
  .list-container
  .specifications-list
  li:hover {
  background-color: var(--sub-menu-bg);
  color: white;
}
.add-product-box .adding-group table tbody tr td a.delete-specification {
  text-decoration: none;
  font-size: 16px;
  color: white;
  background-color: #d00;
  padding: 3px 9px;
  cursor: pointer;
}
.add-product-box .adding-group table tbody tr td a.delete-price {
  text-decoration: none;
  font-size: 16px;
  color: white;
  background-color: #d00;
  padding: 3px 9px;
  cursor: pointer;
}
.add-product-box .adding-group .note {
  padding-top: 5px;
  font-size: 12px;
  color: #d00;
  transition: all 0.1s ease-in-out;
}
.add-product-box .adding-group .note.disactive {
  display: none;
}
.add-product-box .adding-group ul {
  margin-top: 10px;
  text-align: right;
}
.add-product-box .adding-group ul li {
  padding: 5px 8px 8px 30px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #364352;
  display: inline-block;
  margin: 5px 0 10px 5px;
  color: #fff;
  position: relative;
  overflow: hidden;
}
.add-product-box .adding-group ul li .close-btn {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  background: #1592a5;
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.add-product-box .date-group label {
  font-weight: bold;
  font-size: 13px;
  color: #999;
}
.add-product-box .custom-group label {
  font-weight: bold;
  font-size: 13px;
  color: #999;
}
.add-product-box .product-search-area {
  background: #fff;
  padding: 15px;
  border: 1px solid #e1e1e1;
}
.add-product-box .product-search-area label {
  font-size: 14px;
  color: #364352;
  font-weight: bold;
  margin-bottom: 0;
}
.add-product-box .product-search-area .search-product-input {
  padding: 10px;
  display: block;
  width: 100%;
  margin: 10px 0;
  outline: none;
  border: 1px solid #e1e1e1;
}
.add-product-box .product-search-area .search-product-input:focus {
  border: 1px solid #00365c6e;
}
.add-product-box .product-search-area .product-list {
  background: #f7f7f7;
  border: 1px solid #e1e1e1;
  max-height: 500px;
  overflow-y: auto;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
}
.add-product-box .product-search-area .product-list::-webkit-scrollbar {
  width: 3px;
}
.add-product-box .product-search-area .product-list::-webkit-scrollbar-track {
  background: #eee;
}
.add-product-box .product-search-area .product-list::-webkit-scrollbar-thumb {
  background: #aaa;
}
.add-product-box
  .product-search-area
  .product-list::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}
.add-product-box .product-search-area .product-list li {
  margin: 5px;
  background: #fff;
  border: 1px solid #e1e1e1;
  padding: 5px;
  cursor: pointer;
  flex: 0 0 calc(50% - 10px);
}
.add-product-box .product-search-area .product-list img {
  width: 80px;
  height: 80px;
  margin-left: 10px;
}
.add-product-box .product-search-area .product-list li:hover {
  border: 1px solid #00365c6e;
}
.add-product-box .product-search-area .product-list li.selected {
  border: 1px solid #00365c6e;
  color: #e5ad06;
  background: #eee;
}
.add-product-box .product-block-list {
  display: none;
}
.add-product-box .product-block-list h3 {
  font-size: 16px;
  color: #364352;
  margin: 10px 0 15px;
}
.add-product-box .product-block-list .sub-product {
  margin: 0 -5px 10px;
  background: #fff;
  border: 1px solid #e1e1e1;
  padding: 10px 5px;
}
.add-product-box .product-block-list .sub-product > div {
  padding: 0 5px;
}
.add-product-box .product-block-list .sub-product .text-center {
  text-align: center;
}
.add-product-box .product-block-list .sub-product img {
  width: 100%;
}
.add-product-box .product-block-list .sub-product input {
  max-width: 100%;
  width: 150px;
  padding: 3px 20px 3px 10px;
  border: 1px solid #e1e1e1;
  outline: none;
  text-align: center;
}
.add-product-box .product-block-list .sub-product p {
  color: #aaa;
  margin-bottom: 3px;
}
.add-product-box .product-block-list .sub-product a {
  color: #e5ad06;
}
.add-product-box .save-btns {
  display: flex;
  margin-bottom: 15px;
}
.add-product-box .save-btns li {
  padding: 0 5px;
}
.add-product-box .save-btns li:first-child {
  flex: 0 0 65%;
}
.add-product-box .save-btns li:last-child {
  flex: 0 0 35%;
}
.add-product-box .save-btns li a {
  display: block;
  width: 100%;
  padding: 7px 10px;
  background: #d00;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  font-size: 15px;
}
.add-product-box .save-btns li .save {
  background: #1592a5;
}
.add-product-box .save-btns li .save:hover {
  background: #17a2b8;
}
.add-product-box .save-btns li .publish {
  background: #24963e;
}
.add-product-box .save-btns li .publish:hover {
  background: #28a745;
}
.add-product-box .left-col h5.inner-title {
  margin-bottom: 0;
}
.add-product-box .select-country {
  padding: 10px;
}
.add-product-box .select-country .search {
  padding: 0;
  display: block;
  margin-top: 10px;
}
.add-product-box .select-country .search input {
  margin-top: 15px;
  margin-bottom: 10px;
  width: 100%;
}
.add-product-box .countries-list li {
  margin: 5px 0 5px 0;
  flex: 0 0 100%;
}
.add-product-box .select-country-box .selected-box {
  margin-top: 15px;
  height: 40px;
}
.add-product-box .select-country-box .selected-box p {
  padding: 8px 10px 0;
  color: #aaa;
}
.add-product-box .select-country.open {
  top: 45px;
}
.deliver-time {
  margin-top: 10px;
}
.deliver-time label {
  font-weight: bold;
}
.deliver-time .time-box {
  display: flex;
}
.deliver-time .time-box .col-box {
  flex: 1;
  padding: 0 2px;
  text-align: center;
}
.deliver-time .time-box input {
  width: 100%;
  height: 30px;
  border: 1px solid #e1e1e1;
  outline: none;
  text-align: center;
  line-height: 30px;
  padding-right: 15px;
}
.deliver-time .time-box input:focus {
  border: 1px solid #00365c6e;
}
.add-product-box .dropdown-box {
  margin-top: 15px;
  position: relative;
}
.add-product-box .dropdown-box .sections-box select {
  display: none;
}
.add-product-box .dropdown-box .sections-box ul {
  background: #fff;
  border: 1px solid #e1e1e1;
  padding: 7px 5px 0;
  cursor: pointer;
  height: 50px;
  overflow-y: auto;
}
.add-product-box .dropdown-box .sections-box ul::-webkit-scrollbar {
  width: 5px;
}
.add-product-box .dropdown-box .sections-box ul::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #eee;
}
.add-product-box .dropdown-box .sections-box ul::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 10px;
}
.add-product-box .dropdown-box .sections-box ul::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}
.add-product-box .dropdown-box .sections-box ul li {
  margin: 0 0 10px 5px;
  background: #364352;
  padding: 4px 10px 6px 10px;
  color: #fff;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  display: none;
}
.add-product-box .dropdown-box .sections-box ul li.selected {
  display: inline-block;
}
.add-product-box .dropdown-box .sections-box ul li span {
  position: absolute;
  top: -5px;
  left: -5px;
  width: 15px;
  height: 15px;
  background: #1592a5;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border-radius: 50%;
}
.add-product-box .dropdown-box .sections-box p {
  color: #d00;
  padding: 5px 0;
}
.add-product-box .dropdown-box .sections-box p.disactive {
  display: none;
}
.add-product-box .dropdown-box .sections-list {
  position: absolute;
  z-index: 5;
  top: 60px;
  right: 0;
  bottom: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.add-product-box .dropdown-box .sections-list ul {
  background: #fff;
  border: 1px solid #e1e1e1;
  padding: 10px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
}
.add-product-box .dropdown-box .sections-list.open {
  top: 50px;
  opacity: 1;
  visibility: visible;
}
.add-product-box .dropdown-box .sections-list .close-btn {
  position: absolute;
  z-index: 5;
  top: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  background: #444;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.add-product-box .dropdown-box .sections-list .close-btn:hover {
  opacity: 1;
}
.add-product-box .dropdown-box .sections-list ul::-webkit-scrollbar {
  width: 5px;
}
.add-product-box .dropdown-box .sections-list ul::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #eee;
}
.add-product-box .dropdown-box .sections-list ul::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 10px;
}
.add-product-box
  .dropdown-box
  .sections-list
  ul::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}
.add-product-box .dropdown-box .sections-list li {
  padding: 5px 10px;
  margin-bottom: 5px;
  cursor: pointer;
}
.add-product-box .dropdown-box .sections-list li:hover {
  background: #eee;
}
.add-product-box .dropdown-box .sections-list li:last-child {
  margin-bottom: 0;
}
.add-product-box .dropdown-box .sections-list li.selected {
  background: #17a2b8;
}
.add-product-box .discount-number {
  display: none;
}
.add-product-box .product-offers h5.inner-title {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.add-product-box .product-offers.open h5.inner-title {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px dashed #bfbfbf;
}
.add-product-box .product-offers .show-offer {
  display: none;
  width: 100% !important;
}
.add-product-box .add-sub-product {
  position: relative;
}
.add-product-box .add-sub-product .close-btn {
  position: absolute;
  z-index: 55;
  top: 25px;
  left: 5px;
  width: 25px;
  height: 25px;
  background: #444;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0.5;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.add-product-box .add-sub-product.open .close-btn {
  opacity: 0.5;
  visibility: visible;
  top: 5px;
}
.add-product-box .add-sub-product .close-btn:hover {
  opacity: 1;
}
.add-product-box .add-sub-product.open {
  background: #fafafa;
}
.add-product-box .add-sub-product h3 {
  font-size: 14px;
  margin-top: 15px;
  text-align: left;
}
.add-product-box .add-sub-product h3 span {
  color: #364352;
  cursor: pointer;
}
.add-product-box .add-sub-product h3 span:hover {
  color: #e5ad06;
}
.add-product-box .add-sub-product .custom-save-btn {
  margin: 5px 0 10px;
}
.add-product-box .add-sub-product .group {
  display: none;
}
.add-product-box .right-col .select-country-box .selected-box {
  margin-top: 0;
}
.add-product-box .right-col .select-country {
  top: 95px;
}
.add-product-box .right-col .select-country-box label {
  font-weight: bold;
  font-size: 13px;
  color: #999;
}
.add-product-box .right-col .select-country.open {
  top: 85px;
}
.add-product-box .right-col .countries-list li {
  flex: 0 0 calc(25% - 10px);
  margin: 5px;
}

/* ========= end_of # Add Product ========= */

/* ========= Edit List ========= */
.edit-list {
  background: #f7f7f7;
  border: 1px solid #e1e1e1;
  padding: 5px 0px;
}
.edit-list .ui-state-default {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  position: relative;
  background: white;
  border: none;
  margin: 10px;
  border: 1px solid #e1e1e1;
  -webkit-box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.05);
  -ms-box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.05);
  -o-box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.05);
  box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.05);
}
.edit-list .ui-state-default p {
  flex: 0 0 calc(100% - 120px);
  font-size: 14px;
  font-weight: 500;
  padding-left: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.edit-list .ui-state-default ul {
  flex: 0 0 120px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: left;
}
.edit-list .ui-state-default ul li {
  flex: 1;
  padding-left: 10px;
}
.edit-list .ui-state-default ul li:last-child {
  border-right: 2px dashed #f2f2f2;
  padding-left: 0;
  padding-right: 10px;
}
.edit-list .ui-state-default ul li .handle {
  color: #364352;
  padding: 5px;
  cursor: move;
}
.edit-list .ui-state-default ul li span,
.edit-list .ui-state-default ul li a {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
}
.edit-list .ui-state-default .edit-list-btn {
  background: #444;
}
.edit-list .ui-state-default a.delete-list-btn {
  background: #d00;
}
.edit-list .ui-state-default .edit-form {
  flex: 0 0 100%;
  border-top: 1px dashed transparent;
  margin-top: 15px;
  display: none;
}
.edit-list .ui-state-default svg.fa-times {
  display: none;
}
.edit-list .ui-state-default svg.fa-pencil-alt,
.edit-list .ui-state-default.open svg.fa-times {
  display: block;
}
.edit-list .ui-state-default.open svg.fa-pencil-alt {
  display: none;
}
.edit-list .ui-state-default.open .edit-form {
  border-top: 1px dashed #e1e1e1;
}
.edit-list .ui-state-default .edit-form .custom-save-btn {
  margin-top: 10px;
  margin-bottom: 5px;
}
/* ========= end_of # Edit List ========= */

/* ========= Edit Product ========= */
#product-table {
  color: #444;
  margin-top: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid #e1e1e1;
}
#product-table thead tr th {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  background: #364352;
  color: #fff;
  border: 0;
  border-right: 1px solid #717a84;
  border-left: 1px solid #717a84;
}
#product-table thead tr th:first-child {
  border-right: 0;
}
#product-table thead tr th:last-child {
  border-left: 0;
}
#product-table tbody tr td {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
}
#product-table tbody tr td:last-child a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 600;
  padding: 5px 8px;
  border-radius: 2px;
  margin: 0px 3px;
}
#product-table tbody tr td:last-child a.edit-product-btn {
  background-color: #444;
}
#product-table tbody tr td:last-child a.freez-product-btn {
  background-color: rgb(165, 72, 72);
}
#product-table tbody tr td:last-child a.delete-product-btn {
  background-color: #d00;
}
#product-table tbody tr td:last-child a.edit-product-btn:hover {
  -webkit-box-shadow: 0px 0px 2px #444;
  -moz-box-shadow: 0px 0px 2px #444;
  -ms-box-shadow: 0px 0px 2px #444;
  -o-box-shadow: 0px 0px 2px #444;
  box-shadow: 0px 0px 2px #444;
}
#product-table tbody tr td:last-child a.freez-product-btn:hover {
  -webkit-box-shadow: 0px 0px 2px rgb(165, 72, 72);
  -moz-box-shadow: 0px 0px 2px rgb(165, 72, 72);
  -ms-box-shadow: 0px 0px 2px rgb(165, 72, 72);
  -o-box-shadow: 0px 0px 2px rgb(165, 72, 72);
  box-shadow: 0px 0px 2px rgb(165, 72, 72);
}
#product-table tbody tr td:last-child a.delete-product-btn:hover {
  -webkit-box-shadow: 0px 0px 2px #d00;
  -moz-box-shadow: 0px 0px 2px #d00;
  -ms-box-shadow: 0px 0px 2px #d00;
  -o-box-shadow: 0px 0px 2px #d00;
  box-shadow: 0px 0px 2px #d00;
}
#product-table tbody tr td img {
  width: 100px;
  object-fit: cover;
  margin: 0 20px;
}
.dataTables_wrapper .dataTables_filter input {
  text-align: right;
  padding: 4px 15px !important;
  margin-left: 0px;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.dataTables_wrapper .dataTables_length select {
  border: 1px solid #dcdcdc;
  border-radius: 2px;
  background-color: transparent;
  padding: 4px;
  color: var(--sub-menu-bg);
  cursor: pointer;
  min-width: 70px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.dataTables_wrapper .dataTables_length select:focus-visible {
  outline: none;
  border: 1px solid #1592a5;
}
.dataTables_wrapper .dataTables_filter input {
  border: 1px solid #dcdcdc;
  border-radius: 2px;
  background-color: transparent;
  padding: 4px;
  color: var(--sub-menu-bg);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.dataTables_wrapper .dataTables_filter input:focus-visible {
  outline: none;
  -webkit-box-shadow: 0px 0px 2px var(--sub-menu-bg);
  -moz-box-shadow: 0px 0px 2px var(--sub-menu-bg);
  -ms-box-shadow: 0px 0px 2px var(--sub-menu-bg);
  -o-box-shadow: 0px 0px 2px var(--sub-menu-bg);
  box-shadow: 0px 0px 2px var(--sub-menu-bg);
}
.dataTables_wrapper .dataTables_paginate {
  margin-right: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
  cursor: not-allowed !important;
  background: #eee !important;
}
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
  color: #444;
  font-size: 14px;
  font-weight: 600;
}
.dataTables_wrapper .dataTables_paginate .paginate_button,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
  border: 1px solid #dcdcdc;
  margin: 0px 2px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
  border: 1px solid #dcdcdc;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: white;
  border: 1px solid var(--sub-menu-bg);
  background-color: var(--sub-menu-bg);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%, var(--sub-menu-bg)),color-stop(100%, var(--sub-menu-bg)));
  background: -webkit-linear-gradient(top,var(--sub-menu-bg) 0%,var(--sub-menu-bg) 100%);
  background: -moz-linear-gradient(top,var(--sub-menu-bg) 0%,var(--sub-menu-bg) 100%);
  background: -ms-linear-gradient(top,var(--sub-menu-bg) 0%,var(--sub-menu-bg) 100%);
  background: -o-linear-gradient(top,var(--sub-menu-bg) 0%,var(--sub-menu-bg) 100%);
  background: linear-gradient(to bottom,var(--sub-menu-bg) 0%,var(--sub-menu-bg) 100%);
}
.dataTables_wrapper .dataTables_paginate .paginate_button:focus-visible {
  outline: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: white !important;
  border: 1px solid var(--sub-menu-bg);
  background-color: var(--sub-menu-bg);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%, var(--sub-menu-bg)),color-stop(100%, var(--sub-menu-bg)));
  background: -webkit-linear-gradient(top,var(--sub-menu-bg) 0%,var(--sub-menu-bg) 100%);
  background: -moz-linear-gradient(top,var(--sub-menu-bg) 0%,var(--sub-menu-bg) 100%);
  background: -ms-linear-gradient(top,var(--sub-menu-bg) 0%,var(--sub-menu-bg) 100%);
  background: -o-linear-gradient(top,var(--sub-menu-bg) 0%,var(--sub-menu-bg) 100%);
  background: linear-gradient(to bottom,var(--sub-menu-bg) 0%,var(--sub-menu-bg) 100%);
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0.3em 0.7em;
}
.table-bordered td,
.table-bordered th {
  border: 1px solid #f1f1f1;
}
.main-tool {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.toolbar {
  display: inline-flex;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
}
.toolbar .price-filter-section {
  position: relative;
  border-left: 1px solid #f0f0f0;
  margin-left: 15px;
  padding-left: 15px;
}
.toolbar .quantaty-filter-section,
.toolbar .price-filter-section {
  margin-bottom: 0.5rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.toolbar .quantaty-filter-section span,
.toolbar .price-filter-section span {
  font-size: 15px;
  margin-bottom: 5px;
  display: block;
  text-align: right;
  font-weight: 600;
  user-select: none;
}
.filter-input {
  border: 1px solid #dcdcdc;
  padding: 5px 10px;
  border-radius: 3px;
  outline: none;
  margin-top: 5px;
  width: 120px;
  margin-left: 5px;
  text-align: center;
  padding-right: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.filter-input:focus {
  border: 1px solid #1592a5;
}
.dataTables_wrapper .dataTables_info {
  clear: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.dataTables_wrapper .dataTables_length {
  float: right;
}
.dataTables_wrapper .dataTables_length label {
  margin-bottom: 0px;
  padding-top: 0.25em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#product-table .check-box {
  position: relative;
  width: 25px;
  height: 20px;
  display: inline-block;
}
#product-table .check-box img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  margin: 0;
}
#product-table .check-box img.done {
  display: none;
}
#product-table input:checked ~ img.done {
  display: block;
}
#product-table input:checked ~ img {
  display: none;
}
#product-table input.tablecheckbox {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

/* ========= end_of # Edit Product ========= */

/* ========= Freez Product ========= */

#product-table tbody tr td:last-child a.active-product-btn {
  background-color: #080;
}
#product-table tbody tr td:last-child a.active-product-btn:hover {
  -webkit-box-shadow: 0px 0px 2px #080;
  -moz-box-shadow: 0px 0px 2px #080;
  -ms-box-shadow: 0px 0px 2px #080;
  -o-box-shadow: 0px 0px 2px #080;
  box-shadow: 0px 0px 2px #080;
}

/* ========= end_of # Freez Product ========= */
